<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
    <link href="swiper/swiper.css" rel="stylesheet">
    <link href="views/css/style.css" rel="stylesheet">
    <!-- <link href="views/css/widget.css" rel="stylesheet"> -->
</head>